{% extends 'layout/basic.html' %}
{% block content %}
    <h1>Список фильмов в Фильмотеке</h1>
    <hr>
    {% for movie in movies %}
        <div>
            <h2>{{ movie.name }}</h2>
            <strong>Опубликованно<strong>
                <p>{{ movie.published_on|date:"d.m.Y H:i:s"}}</p>
                <h5>Рейтинг
                    <h5>
                        <p>{{ movie.rating }} % </p>
                        {% if  movie.description %}
                            <h3>Описание</h3>
                            <p>{{ movie.description }}</p>
                        {% endif %}
        </div>
    {% endfor %}
{% endblock content %}