{% load static %}

    <!-- service section -->
    <section class="service-section">
        <div class="container-fullid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-sm-12 service-colmun">
                    <div class="service-title">
                        <div class="sec-title"><h2>Our <span>Services</span></h2></div>
                        <div class="text"><p>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit sed do eiusm temp or incididunt</p></div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12 service-colmun">
                    <div class="three-column-carousel">
                        <div class="single-item">
                            <div class="icon-box"><a href="service-details.html"><i class="flaticon-graph"></i></a></div>
                            <h4><a href="service-details.html">Business Growth</a></h4>
                            <div class="text"><p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc
                            ididunt ut labore</p></div>
                        </div>
                        <div class="single-item">
                            <div class="icon-box"><a href="service-details.html"><i class="flaticon-people"></i></a></div>
                            <h4><a href="service-details.html">Business Growth</a></h4>
                            <div class="text"><p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc
                            ididunt ut labore</p></div>
                        </div>
                        <div class="single-item">
                            <div class="icon-box"><a href="service-details.html"><i class="flaticon-suitcase"></i></a></div>
                            <h4><a href="service-details.html">Business Growth</a></h4>
                            <div class="text"><p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc
                            ididunt ut labore</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature section end -->

    <!-- testimonial section -->
    <section class="testimonial-section sec-pad">
        <div class="container">
            <div class="testimonial-title centered">
                <div class="section-title"><h2>Testimonials</h2></div>
                <div class="title-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp </p></div>
            </div>
            <div class="testimonial-slider">
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/1.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/2.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/3.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/1.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/2.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/3.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/1.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/2.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
                <div class="testimonial-content">
                    <div class="authore-info">
                        <div class="img-box"><figure><img src="{% static '/assets/images/testimonial/3.png' %}" alt=""></figure></div>
                        <div class="author-meta">
                            <h4>William Ayrton</h4>
                            <span>Limo Advisor</span>
                        </div>
                    </div>
                    <div class="text"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud
                    antiumes.</p></div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section end -->

    <!-- fact-counter -->
    <section class="fact-counter centered">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 counter-colmun">
                    <div class="single-item">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="25">0</span><span>+</span></div>
                            <div class="text">Years Experience</div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 counter-colmun">
                    <div class="single-item">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="45">0</span><span>+</span></div>
                            <div class="text">Awards Win</div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 counter-colmun">
                    <div class="single-item">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="1250">0</span><span>+</span></div>
                            <div class="text">Happy Customers</div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 counter-colmun">
                    <div class="single-item">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="150">0</span><span>+</span></div>
                            <div class="text">Our Expert Staffs</div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fact-counter section end -->

    <!-- team section -->
    <section class="our-team sec-pad">
        <div class="container">
            <div class="team-title centered">
                <div class="section-title"><h2>Our Experts</h2></div>
                <div class="title-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp </p></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 team-colmun">
                    <div class="bxslider ">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12 team-colmun">
                                <div class="clearfix">
                                    <figure class="img-box pull-left">
                                        <a href="team.html"><img src="{% static '/assets/images/team/1.jpg' %}" alt=""></a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 team-colmun">
                                <div class="team-content">
                                    <div class="team-info">
                                        <div class="team-text"><a href="team.html">Mark Richardson</a></div>
                                        <span>Project Manager</span>
                                    </div>
                                    <div class="text">
                                        <p>Excepteur sint occaecat cupidatat  proident sunt culpa qui officia deserunt mollit an
                                        imlab rum. Sed perspiciatis unde omnis is natus error sit voluptatem accusantium dolore mque laudant totam rem aperiam.</p>
                                    </div>
                                    <div class="team-contact">
                                        <div class="text"><strong>Phone:</strong>&nbsp; &nbsp;(+1) 251-235-3256</div>
                                        <div class="text"><strong>Email:</strong>&nbsp; &nbsp;info@tonybrown.com</div>
                                    </div>
                                    <ul class="team-social">
                                        <li><a href="#" class="active"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12 team-colmun">
                                <div class="clearfix">
                                    <figure class="img-box pull-left">
                                        <a href="team.html"><img src="{% static '/assets/images/team/2.jpg' %}" alt=""></a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 team-colmun">
                                <div class="team-content">
                                    <div class="team-info">
                                        <div class="team-text"><a href="team.html">Robat Jsion</a></div>
                                        <span>Project Controlar</span>
                                    </div>
                                    <div class="text">
                                        <p>Excepteur sint occaecat cupidatat  proident sunt culpa qui officia deserunt mollit an
                                        imlab rum. Sed perspiciatis unde omnis is natus error sit voluptatem accusantium dolore mque laudant totam rem aperiam.</p>
                                    </div>
                                    <div class="team-contact">
                                        <div class="text"><strong>Phone:</strong>&nbsp; &nbsp;(+1) 251-235-3256</div>
                                        <div class="text"><strong>Email:</strong>&nbsp; &nbsp;info@tonybrown.com</div>
                                    </div>
                                    <ul class="team-social">
                                        <li><a href="#" class="active"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12 team-colmun">
                                <div class="clearfix">
                                    <figure class="img-box pull-left">
                                        <a href="team.html"><img src="{% static '/assets/images/team/3.jpg' %}" alt=""></a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 team-colmun">
                                <div class="team-content">
                                    <div class="team-info">
                                        <div class="team-text"><a href="team.html">Julia Richardson</a></div>
                                        <span>Advisor</span>
                                    </div>
                                    <div class="text">
                                        <p>Excepteur sint occaecat cupidatat  proident sunt culpa qui officia deserunt mollit an
                                        imlab rum. Sed perspiciatis unde omnis is natus error sit voluptatem accusantium dolore mque laudant totam rem aperiam.</p>
                                    </div>
                                    <div class="team-contact">
                                        <div class="text"><strong>Phone:</strong>&nbsp; &nbsp;(+1) 251-235-3256</div>
                                        <div class="text"><strong>Email:</strong>&nbsp; &nbsp;info@tonybrown.com</div>
                                    </div>
                                    <ul class="team-social">
                                        <li><a href="#" class="active"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12 team-colmun">
                                <div class="clearfix">
                                    <figure class="img-box pull-left">
                                        <a href="team.html"><img src="images/team/4.jpg" alt=""></a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 team-colmun">
                                <div class="team-content">
                                    <div class="team-info">
                                        <div class="team-text"><a href="team.html">Mitchel Mandal</a></div>
                                        <span>Senior Manager</span>
                                    </div>
                                    <div class="text">
                                        <p>Excepteur sint occaecat cupidatat  proident sunt culpa qui officia deserunt mollit an
                                        imlab rum. Sed perspiciatis unde omnis is natus error sit voluptatem accusantium dolore mque laudant totam rem aperiam.</p>
                                    </div>
                                    <div class="team-contact">
                                        <div class="text"><strong>Phone:</strong>&nbsp; &nbsp;(+1) 251-235-3256</div>
                                        <div class="text"><strong>Email:</strong>&nbsp; &nbsp;info@tonybrown.com</div>
                                    </div>
                                    <ul class="team-social">
                                        <li><a href="#" class="active"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-pager">
                        <div class="center">
                            <ul class="nav-link list-inline">
                                <li id="slider-prev"></li>
                                <li id="slider-next"></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 team-colmun">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="slider-pager">
                                <ul class="list-inline thumb-box style2">
                                    <li>
                                        <a class="active" data-slide-index="0" href="#"><figure><img src="images/team/1.png" alt=""></figure></a>
                                    </li>
                                    <li>
                                        <a data-slide-index="1" href="#"><figure><img src="images/team/2.png" alt=""></figure></a>
                                    </li>
                                    <li>
                                        <a data-slide-index="2" href="#"><figure><img src="images/team/3.png" alt=""></figure></a>
                                    </li>
                                    <li>
                                        <a data-slide-index="3" href="#"><figure><img src="images/team/4.png" alt=""></figure></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team section end -->

    <!-- call-back-section -->
    <section class="call-back sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 colmun">
                    <div class="call-back-content">
                        <div class="call-back-title">
                            <div class="section-title"><h2>Request A <span>Call Back</span></h2></div>
                            <div class="title-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp </p></div>
                        </div>
                        <div class="form-area">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 colmun">
                                        <input type="text" placeholder="Your Name">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 colmun">
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 colmun">
                                        <input type="text" placeholder="Phone">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 colmun">
                                        <div class="select-box">
                                            <i class="fa fa-angle-down"></i>
                                            <select class="custom-select-box">
                                                <option>Select a Topic</option>
                                                <option>Project</option>
                                                <option>Financial</option>
                                                <option>Bima</option>
                                                <option>Insurence</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="button">
                                    <button class="btn-one style-one radi">Send Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- call-back-section end -->

    <!-- gallery section -->
    <section class="gallery-section sec-pad">
        <div class="container">
            <div class="gallery-title">
                <div class="section-title"><h2>Our Gallery</h2></div>
                <div class="title-text"><p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui</p></div>
            </div>
        </div>
        <div class="container-fullid">
            <div class="gallery-slider">
                <div class="single-item">
                    <div class="img-box">
                        <figure><img src="images/gallery/1.jpg" alt=""></figure>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="images/gallery/1.jpg" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <h5>Photo Tytle Here</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="img-box">
                        <figure><img src="images/gallery/2.jpg" alt=""></figure>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="images/gallery/2.jpg" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <h5>Photo Tytle Here</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="img-box">
                        <figure><img src="images/gallery/3.jpg" alt=""></figure>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="images/gallery/3.jpg" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <h5>Photo Tytle Here</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="img-box">
                        <figure><img src="images/gallery/4.jpg" alt=""></figure>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="images/gallery/4.jpg" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <h5>Photo Tytle Here</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="img-box">
                        <figure><img src="images/gallery/5.jpg" alt=""></figure>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="images/gallery/5.jpg" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <h5>Photo Tytle Here</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery section end -->

    <!-- news section -->
    <section class="news-section sec-pad">
        <div class="container">
            <div class="news-title centered">
                <div class="section-title"><h2>Latest News</h2></div>
                <div class="title-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp </p></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 news-colmun">
                    <div class="single-item wow fadeInUp animated animated">
                        <div class="img-box"><a href="blog-details.html"><figure><img src="images/news/1.jpg" alt=""></figure></a></div>
                        <div class="news-content">
                            <div class="date">25 <div class="text">Feb</div></div>
                            <ul class="meta">
                                <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                                <li><i class="fa fa-heart-o" aria-hidden="true"></i>350</li>
                                <li><i class="fa fa-comments-o" aria-hidden="true"></i>30</li>
                            </ul>
                            <h4><a href="blog-details.html">Cras sed elit sit amet dui tem.</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 news-colmun">
                    <div class="single-item wow fadeInUp animated animated">
                        <div class="img-box"><a href="blog-details.html"><figure><img src="images/news/2.jpg" alt=""></figure></a></div>
                        <div class="news-content">
                            <div class="date">25 <div class="text">Feb</div></div>
                            <ul class="meta">
                                <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                                <li><i class="fa fa-heart-o" aria-hidden="true"></i>350</li>
                                <li><i class="fa fa-comments-o" aria-hidden="true"></i>30</li>
                            </ul>
                            <h4><a href="blog-details.html">In gravida eros in risus placerat.</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 news-colmun">
                    <div class="single-item wow fadeInUp animated animated">
                        <div class="img-box"><a href="blog-details.html"><figure><img src="images/news/3.jpg" alt=""></figure></a></div>
                        <div class="news-content">
                            <div class="date">25 <div class="text">Feb</div></div>
                            <ul class="meta">
                                <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                                <li><i class="fa fa-heart-o" aria-hidden="true"></i>350</li>
                                <li><i class="fa fa-comments-o" aria-hidden="true"></i>30</li>
                            </ul>
                            <h4><a href="blog-details.html">Finibus Bonorum Malor In grav.</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news section end -->

    <!-- sponsors section -->
    <section class="sponsors-section">
        <div class="container">
            <div class="sponsors-area">
                <ul class="sponsors-slider">
                    <li><a href="#"><figure><img src="images/sponsors/1.png" alt=""></figure></a></li>
                    <li><a href="#"><figure><img src="images/sponsors/2.png" alt=""></figure></a></li>
                    <li><a href="#"><figure><img src="images/sponsors/3.png" alt=""></figure></a></li>
                    <li><a href="#"><figure><img src="images/sponsors/4.png" alt=""></figure></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- sponsors section end -->