{% load static %}

    <section class="feature-section sec-pad">
        <div class="container">
            <div class="feature-title centered">
                <div class="section-title"><h2>Why The Biznes?</h2></div>
                <div class="title-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 feature-colmun">
                    <div class="single-item">
                        <div class="img-box"><figure><img src="{% static '/assets/images/feature/1.jpg' %}" alt=""></figure></div>
                        <div class="single-content">
                            <div class="icon-box"><i class="flaticon-graphic"></i></div>
                            <h4>Business Advisor</h4>
                            <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipis
                            elit sed do eiusmod tempor incidunt labore et dolore magna aliqua.</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 feature-colmun">
                    <div class="single-item">
                        <div class="img-box"><figure><img src="{% static '/assets/images/feature/2.jpg' %}" alt=""></figure></div>
                        <div class="single-content">
                            <div class="icon-box"><i class="flaticon-graph"></i></div>
                            <h4>Market Analyize</h4>
                            <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipis
                            elit sed do eiusmod tempor incidunt labore et dolore magna aliqua.</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 feature-colmun">
                    <div class="single-item">
                        <div class="img-box"><figure><img src="{% static '/assets/images/feature/3.jpg' %}" alt=""></figure></div>
                        <div class="single-content">
                            <div class="icon-box"><i class="flaticon-money"></i></div>
                            <h4>Investment Plan</h4>
                            <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipis
                            elit sed do eiusmod tempor incidunt labore et dolore magna aliqua.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>