{% block top_nav %}
    <!-- main header area -->
    <header class="main-header">

        <!-- header upper -->
        <div class="header-upper">
            <div class="container">
                <ul class="top-left">
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Sat  9.00 - 18.00</li>
                    <li><i class="fa fa-phone"></i>[251] 235-3256</li>
                </ul>
                <div class="top-right">
                    <ul class="social-top">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                    <div class="button-top">
                        <a href="#" class="btn-one style-one">Get Appoinment</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header upper -->

        <!-- header lower -->
        <div class="header-lower">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="logo-box">
                            <a href="index.html"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="menu-bar">
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="index.html">Home</a>
                                        </li>
                                        <li><a href="about.html">About Us</a>
                                        </li>
                                        <li class="dropdown"><a href="#">Services</a>
                                            <ul>
                                                <li><a href="service.html">Our Service</a></li>
                                                <li><a href="service-details.html">Service Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="gallery.html">Our Gallery</a></li>
                                                <li><a href="faq.html">Faq's</a></li>
                                                <li><a href="error.html">Error Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">News</a>
                                            <ul>
                                                <li><a href="our-blog.html">Blog Classic</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="info-box">
                                <div class="search-box">
                                    <div class="toggle-search">
                                        <button><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header lower -->

        <!--sticky header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="logo-box">
                            <a href="index.html"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="menu-bar">
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="index.html">Home</a>
                                        </li>
                                        <li><a href="about.html">About Us</a>
                                        </li>
                                        <li class="dropdown"><a href="#">Services</a>
                                            <ul>
                                                <li><a href="service.html">Our Service</a></li>
                                                <li><a href="service-details.html">Service Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="gallery.html">Our Gallery</a></li>
                                                <li><a href="faq.html">Faq's</a></li>
                                                <li><a href="error.html">Error Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">News</a>
                                            <ul>
                                                <li><a href="our-blog.html">Blog Classic</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="info-box">
                                <div class="button"><a href="#" class="btn-one style-one radi">Get A Quote</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end sticky header -->

    </header>
    <!-- end main header area -->
    {% endblock top_nav %}